<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Need access to the camera</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Need access to your photo library</string>
    
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <!-- Add these keys for location permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to add geolocation data to your photos.</string>
</dict>
</plist>
